$desktop : 769px;
$tablet : 768px;
$mobile : 736px;
body{
	.advancedwidgetctrl-show{
		display: none;
	}
	.advancedwidgetctrl-hide_title{
		.widget-title{
			display: none;
		}
	}

	//alignment
	.advancedwidgetctrl-md-right{
		text-align: right;
	}
	.advancedwidgetctrl-md-left{
		text-align: left;
	}
	.advancedwidgetctrl-md-center{
		text-align: center;
	}
	.advancedwidgetctrl-md-justify{
		text-align: justify;
	}
	@media screen and (min-width: $desktop) {
		.advancedwidgetctrl-hide.advancedwidgetctrl-desktop{
			display: none !important;
		}
		.advancedwidgetctrl-show.advancedwidgetctrl-desktop{
			display: block;
		}
		.widget.clearfix-desktop{
			clear: both;
		}
	}
	@media screen and (max-width: $tablet)
	and (min-width: $mobile + 1) {
		.advancedwidgetctrl-hide.advancedwidgetctrl-tablet{
			display: none !important;
		}
		.advancedwidgetctrl-show.advancedwidgetctrl-tablet{
			display: block;
		}
		.widget.clearfix-desktop{
			clear: none;
		}
		.widget.clearfix-tablet{
			clear: both;
		}
	}
	@media screen and (max-width: $mobile) {
		.advancedwidgetctrl-hide.advancedwidgetctrl-mobile{
			display: none !important;
		}
		.advancedwidgetctrl-show.advancedwidgetctrl-mobile{
			display: block;
		}
		.widget.clearfix-desktop, .widget.clearfix-tablet{
			clear: none;
		}
		.widget.clearfix-mobile{
			clear: both;
		}
	}
}
